.quote__text {
  font-size: larger;
}
.quote__author {
  font-size: larger;
}

.butter {
  background-color: burlywood;
  text-align: center;
}

.quote h1 {
  background-color: cadetblue;
  font-size: 50px;
  text-align: center;
  color: cornsilk;
}
.button-change {
  width: 120px;
  background-color: burlywood;
  font-size: 20px;
  text-transform: capitalize;
  color: rgb(14, 13, 13);
}

.refetchbtn {
  margin: 0 auto;
  max-width: 40px;
}

.text {
  background-color: cadetblue;

  text-align: center;
  color: cornsilk;
}
